<div class="bbs-list">
    <table class="bbs">
        <% articleList.slice().reverse().forEach(function(item){%>
            <tr class="bbs-name_wrap">
                <td class="bbs-name"> <span class="squ">#No.</span><%=item.no%> : <%=item.writer%> </td>
                <td class="bbs-del">
                    <input type='button' value='DEL' id='btnOpen'>
                </td>                
            </tr>
            <tr class="bbs-txt_wrap">
                <td colspan="2" class="article"><p class="detail-article"><%=item.article %></p></td>
            </tr>

            <!--수정폼
            <form action="/board/edit/<%=item.no%>" method="post" >
                <tr class="edit">
                    <td>#No.<%=item.no%> <input name="writer"  type="text" placeholder="NAME"  required/></td>
                    <td><input name="password"  type="password" placeholder="PASSWORD"  required/></td>
                </tr>
                <tr class="edit">
                    <td colspan="2" class="article"> <textarea name="article"  rows="8" placeholder="TEXT HERE"  required></textarea></td>
                </tr>
                <tr class="edit">                
                    <td colspan="2"><button type="submit">EDIT</button></td>
                </tr>
            </form>
            -->

            <div id='modal'>
                <div id='content'>
                    <input type='button' value='X' class="close" id='btnClose'/>
                    <label>PASSWORD?</label><br/>
                    <input type='password' id='pwd' value='' />
                    <a href="/delete/<%=item.no%>">DEL</a>
                </div>
            </div>
        <% })%>

    </table>
</div>

<script>
    var btnOpen  = document.getElementById('btnOpen');
    var btnClose = document.getElementById('btnClose');
    
    // modal 창을 감춤
    var closeRtn = function(){
      var modal = document.getElementById('modal');
      modal.style.display = 'none';
    }
    
    // modal 창을 보여줌
    btnOpen.onclick = function(){
      var modal = document.getElementById('modal');
      modal.style.display = 'block';
    }
    
    btnClose.onclick = closeRtn;
</script>