<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel='stylesheet' type='text/css' href='css/style.css'>
</head>
<body>
    <div id="bbsdiv">
        <div>
            <h1>◆2023 IRC CHANNELな◆</h1>
        </div>
        <div>
            <MARQUEE>◆전세계 헤즈들에게 새해 인사를◆    ◆全世界のヘッズたちに新年の挨拶を◆</MARQUEE>
        </div>
        <div>
            <form action="/board/write" method="post">
                <table class="bbs">
                    <tr>
                        <td>■ <input name="writer"  type="text" placeholder="NAME"  required/></td>
                        <td><input name="password"  type="password" placeholder="PASSWORD"  required/></td>
                    </tr>
                    <tr>
                        <td colspan="2" class="article"> <textarea name="article"  rows="8" placeholder="내용입력"  required></textarea></td>
                    </tr>
                    <tr>                
                        <td colspan="2"><button type="submit">SEND</button></td>
                    </tr>
                </table>
            </form>
        </div>
        <table class="bbs">
            <% articleList.forEach(function(item){%>
                <tr>
                    <td>#No.<%=item.no%> <%=item.writer%> </td>
                    <td>
                        <a href="/board/delete/<%=item.no%>">DEL</a>
                    </td>                
                </tr>

                <tr>
                    <td colspan="2" class="article"><%=item.article %></td>
                </tr>

                <form action="/board/edit/<%=item.no%>" method="post" >
                    <tr class="edit">
                        <td>#No.<%=item.no%> <input name="writer"  type="text" placeholder="NAME"  required/></td>
                        <td><input name="password"  type="password" placeholder="PASSWORD"  required/></td>
                    </tr>
                    <tr class="edit">
                        <td colspan="2" class="article"> <textarea name="article"  rows="8" placeholder="내용입력"  required></textarea></td>
                    </tr>
                    <tr class="edit">                
                        <td colspan="2"><button type="submit">EDIT</button></td>
                    </tr>
                </form>
            <% })%>
            
        </table>
    </div>
</body>


</html>

<script>
    function onoff() {
        let edit = document.getElementsByClassName('edit');
        // btn 숨기기 (display: none)
        for ( var x = 0; x < edit.length; x++ ){
            if(edit[x].style.display == 'none') {
                edit[x].style.display = 'block';
            }
            // btn 보이기 (display: block)
            else {
                edit[x].style.display = 'none';
            }
        }
    }
</script>
