
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<style>
    .modal-backdrop {

        display: none;
}
</style>

<% let deleteindex = 0 %>
<div class="bbs-list">
    <table class="bbs">
        <% articleList.slice().reverse().forEach(function(item){%>
            <tr class="bbs-name_wrap">
                <td class="bbs-name"> <span class="squ">#No.</span><%=item.no%> : <%=item.writer%> </td>
                <td class="bbs-del">
                        <button id='btnOpen' value ="<%=item.no%>" class="btnOpen" data-toggle="modal" data-target="#modal" data-notifyid="<%=item.no%>">DEL</button>
                </td>                
            </tr>
            <tr class="bbs-txt_wrap">
                <td colspan="2" class="article"><p class="detail-article"><%=item.article %></p></td>
            </tr>
                
                </div>
            </div>

            <div id='modal' class="modal fade">
                <div id='content'>
                    <div class="modal-content">
                        <div class="modal-content_txt">
                            <label>PASSWORD?</label><br/>
                            <input type='button' value='x' class="close" id='btnClose' data-dismiss="modal"/>
                        </div>
                        <div class="modal-content_input" id ="modal-content" >
                            <form action="/delete" method="post" >
                                <input type="text" value="d" name="deleteidx" class="hidden">
                                <input type='password' id='pwd' name="password" />
                                <button type="submit">DEL</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!--수정폼
            <form action="/board/edit/<%=item.no%>" method="post" >
                <tr class="edit">
                    <td>#No.<%=item.no%> <input name="writer"  type="text" placeholder="NAME"  required/></td>
                    <td><input name="password"  type="password" placeholder="PASSWORD"  required/></td>
                </tr>
                <tr class="edit">
                    <td colspan="2" class="article"> <textarea name="article"  rows="8" placeholder="TEXT HERE"  required></textarea></td>
                </tr>
                <tr class="edit">                
                    <td colspan="2"><button type="submit">EDIT</button></td>
                </tr>
            </form>
            -->
            
        <% })%>
    </table>

    
</div>

<script>

var idx;

$('.btnOpen').on('click', (e) => {
    $('input[name=deleteidx]').attr('value',e.target.value);
});

$('.modal').on('hidden.bs.modal', function (e) {
	$(this).find('form')[0].reset();
});

</script>