
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<style>
    .modal-backdrop {

        display: none;
}
</style>
<div class="bbs-list">
    <table class="bbs">
        <% articleList.slice().reverse().forEach(function(item){%>
            <tr class="bbs-name_wrap">
                <td class="bbs-name"> <span class="squ">#No.</span><%=item.no%> : <%=item.writer%> </td>
                <td class="bbs-del">
                    <!--<input type='button' value='DEL' id='btnOpen' class="btnOpen">-->    
                    <button id='btnOpen' value ="<%=item.no%>" class="btnOpen" data-toggle="modal" data-target="#modal" data-notifyid="<%=item.no%>">DEL</button>
                    <!--<button type="button" class="" data-toggle="modal" data-target="#modal">Open Modal</button>-->
                </td>                
            </tr>
            <tr class="bbs-txt_wrap">
                <td colspan="2" class="article"><p class="detail-article"><%=item.article %></p></td>
            </tr>

            <!-- Modal -->
            <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">
                
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Modal Header</h4>
                    </div>
                    <div class="modal-body">
                    <p>Some text in the modal.</p>
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
                
                </div>
            </div>

<% var NOTIFYID=item.no; %>
            <div id='modal' class="modal fade">
                <div id='content'>
                    <div class="modal-content">
                        <div class="modal-content_txt">
                            <label>PASSWORD?</label><br/>
                            <input type='button' value='x' class="close" id='btnClose' data-dismiss="modal"/>
                            <!--<input type='button' value='x' class="close" id='btnClose'/>-->
                        </div>
                        <div class="modal-content_input"  name="deleteform" value = "1">
                            
                            <form action="/delete/<%=NOTIFYID%>" method="post" >
                                <a><%=NOTIFYID%></a>
                                <input type='password' id='pwd' name="password" value='' />
                                <button type="submit">DEL</button>
                                <!--<a href="/delete/<%=item.no%>">DEL</a>-->
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!--수정폼
            <form action="/board/edit/<%=item.no%>" method="post" >
                <tr class="edit">
                    <td>#No.<%=item.no%> <input name="writer"  type="text" placeholder="NAME"  required/></td>
                    <td><input name="password"  type="password" placeholder="PASSWORD"  required/></td>
                </tr>
                <tr class="edit">
                    <td colspan="2" class="article"> <textarea name="article"  rows="8" placeholder="TEXT HERE"  required></textarea></td>
                </tr>
                <tr class="edit">                
                    <td colspan="2"><button type="submit">EDIT</button></td>
                </tr>
            </form>
            -->
            
        <% })%>
    </table>

    
</div>

<script>

    




$('.modal').on('hidden.bs.modal', function (e) {
	$(this).find('form')[0].reset();
});


/*
    var btnOpen  = document.getElementById('btnOpen');
    var btnClose = document.getElementById('btnClose');
    
    // modal 창을 감춤
    var closeRtn = function(){
      var modal = document.getElementById('modal');
      modal.style.display = 'none';
    }
    
    // modal 창을 보여줌
    btnOpen.onclick = function(){
      var modal = document.getElementById('modal');
      modal.style.display = 'block';
    }
    
    btnClose.onclick = closeRtn;
    */
</script>